<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>IMGT Scrape Report</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
</head>
<body>
    <div id="sidebar-container"></div>

    <div class="main-content" id="main-content">
        <div id="content-to-pdf" class="container">
            <div class="header">
                <h1 class="report-title">IMGT Scrape Report</h1>
                <p class="report-date"><strong>Date and Time:</strong> {{ date_time }}</p>
            </div>
            <div class="report-main-content">
                <p class="report-intro"><strong>IMGT/V-QUEST reference directory sets release:</strong> {{ set_release }}</p>
                <h2 class="report-heading">Summary</h2>
                <ul class="report-list">
                    <li><strong>Species:</strong> {{ species }}</li>
                    <li><strong>Type:</strong> {{ type }}</li>
                    <li><strong>Output Directory:</strong> {{ output }}</li>
                    <li><strong>Frame Selection:</strong> {{ frame_selection }}</li>
                    <li><strong>Create Library:</strong> {{ create_library }}</li>
                    <li><strong>Cleanup:</strong> {{ cleanup }}</li>
                    <li><strong>Simple Headers:</strong> {{ simple_headers }}</li>
                </ul>
                <h2 class="report-heading">FASTA File Entries</h2>
                <table class="report-table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Segments found</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in fasta_files %}
                        <tr>
                            <td>{{ file.name }}</td>
                            <td>{{ file.entries }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <button class="report-button" id="download-pdf">Save as PDF</button>
    </div>

    <script src="../js/loadSidebar.js"></script>
    <script>
        document.getElementById('download-pdf').addEventListener('click', function () {
            var element = document.getElementById('content-to-pdf');
            html2pdf().from(element).set({
                margin: 0.5,
                filename: 'IMGT_Scrape_Report.pdf',
                image: { type: 'jpeg', quality: 1.0 },
                html2canvas: { scale: 2, useCORS: true },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            }).save();
        });
    </script>
</body>
</html>
